* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #eee;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info .elem {
    flex: 1 1 0;
    text-align: center;
    min-width: 300px;
}

.caption {
    font-size: 2em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th, table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}